<body class="min-h-screen bg-white dark:bg-gray-900">
  <div class="bg-white dark:bg-gray-900 py-8 pt-20">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col md:flex-row -mx-4 pt-4">
            <div class="md:flex-1 px-4">
                <div class="h-[460px] rounded-lg bg-white dark:bg-gray-900 mb-4">
                  <img *ngIf="animal" class="w-full rounded-lg h-full object-cover" [src]="animal.image" alt="Product Image">
                </div>
                <div class="flex -mx-2 mb-4">
                    <div class="w-1/2 px-2">
                        <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" type="button" class="w-full bg-red-200 dark:bg-gray-600 text-white py-2 px-4 rounded-full font-bold hover:bg-gray-800 dark:hover:bg-gray-700">Umów się na spotkanie</button>
                    </div>
                    <div class="w-1/2 px-2">
                        <button (click)="addToFavorites(animal.id);" class="w-full bg-red-200 dark:bg-gray-600 text-gray-800 dark:text-white py-2 px-4 rounded-full font-bold hover:bg-gray-300 dark:hover:bg-gray-600">Zapisz jako ulubione</button>
                    </div>
                </div>
            </div>
            <div class="px-4 md:flex-1">
                <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-2">Imie zwierzaka</h2>
                <p *ngIf="animal" class="text-gray-600 dark:text-gray-300 text-xl mb-4">
                    {{animal.name}}
                </p>
                <div class="flex mb-4">
                    <div class="mr-4">
                        <span class="font-bold text-gray-700 dark:text-gray-300">Wiek zwierzaka: </span>
                        <span *ngIf="animal" class="text-gray-600 dark:text-gray-300">{{animal.age}} lat</span>
                    </div>
                </div>
                <div class="mb-4">
                    <span class="font-bold text-gray-700 dark:text-gray-300">Rasa:</span>
                    <div class="flex items-center mt-2">
                      <p *ngIf="animal" class="font-bold text-teal-600 text-sm">{{animal.race}}</p>
                    </div>
                </div>
                <div>
                    <span class="font-bold text-gray-700 dark:text-gray-300">Opis zwierzaka:</span>
                    <p  *ngIf="animal" class="text-gray-600 dark:text-gray-300 text-sm mt-2">
                        {{animal.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Umów spotkanie
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form class="p-4 md:p-5" [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Data</label>
                        <input type="datetime-local" name="date" id="date" formControlName="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type product name" required="">
                    </div>
                <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                    Umów spotkanie
                </button>
                </div>
            </form>
        </div>
    </div>
</div>
  </body>
