

<div class="wrelative overflow-x-auto shadow-md sm:rounded-lg p-12 m-auto">
  <table class=" w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  User name
              </th>
              <th scope="col" class="px-6 py-3">
                  Email
              </th>
              <th scope="col" class="px-6 py-3">
                  User id
              </th>
              <th scope="col" class="px-6 py-3">
                  Created at
              </th>
              <th scope="col" class="px-6 py-3">
                  Action
              </th>
              <th scope="col" class="px-6 py-3">
                Admin
              </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of users" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{user.name}}
              </th>
              <td class="px-6 py-4">
                  {{user.email}}
              </td>
              <td class="px-6 py-4">
                  {{user.id}}
              </td>
              <td class="px-6 py-4">
                  {{user.created_at}}
              </td>
              <td class="px-6 py-4">
                  <a (click)="removeUser(user.id);" class="font-medium text-red-600 dark:text-red-500 hover:underline">USUN</a>
              </td>
              <td class="px-6 py-4  flex flex-row">
                <a (click)="addAdmin(user.id);" class=" pr-2 font-medium text-purple-600 dark:text-purple-500 hover:underline">ADD ADMIN</a>

                <a (click)="removeAdmin(user.id);" class=" pl-2 font-medium text-red-600 dark:text-red-500 hover:underline">REMOVE ADMIN</a>

              </td>
          </tr>
      </tbody>
  </table>
</div>
