<div class="m-auto p-16 flex flex-wrap gap-8">

  <div *ngFor="let animal of animals" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <!-- Image -->
    <a (click)="nextButton(animal.id);">
      <img  class="rounded-t-lg h-72 w-96" [src]="animal.image" alt="" />
    </a>
    <!-- Text -->
    <div class="p-5">
      <a (click)="nextButton(animal.id);">
        <h5 class="h-14 mb-2 text-2xl font-bold tracking-tight text-center text-blue-500 dark:text-white">{{animal.race}}, {{animal.name}}</h5>
      </a>
      <p class="pt-4 h-16 mb-3 font-normal text-gray-700 dark:text-gray-400 text-center"></p>
      <a (click)="nextButton(animal.id);" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center self-center justify-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        ZOBACZ WIECEJ
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a>
    </div>
</div>
  <!-- Dodaj kolejne kontenery tutaj w takiej samej strukturze -->

</div>



<nav aria-label="Page navigation example m-auto justify-center w-full" class="p-8">
  <ul class="flex items-center -space-x-px h-10 text-base m-auto  justify-center">
    <li>
      <a (click)="firstPage()" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        <span class="sr-only">First Page</span>
        <!-- SVG icon -->
      </a>
    </li>
    <li *ngFor="let page of pagesToShow">
      <a (click)="changePage(page)" [ngClass]="{'bg-blue-500 text-white': page === currentPage, 'text-gray-500 bg-white': page !== currentPage}" class="flex items-center justify-center px-4 h-10 leading-tight border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page }}</a>
    </li>
    <li>
      <a (click)="lastPage()" class="flex items-center justify-center px-4 ms-0 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        <span class="sr-only">Last Page</span>
        <!-- SVG icon -->
      </a>
    </li>
  </ul>
</nav>
